<% provide :title, "Equipo" %>
<div class="container">
	<div class="col-12">
		<div>
			<h2>Editar <%= @team.name %></h2>
			<br>
			<%= render 'form', team: @team, users: @users, back_link: @team %>
		</div>
	</div>
</div>
