@import './home.scss';
@import './navbar.scss';
@import './bootstrap-chosen.scss';
// @import './teams.scss';
// @import './users.scss';
// @import './packages.scss';


.faded-red {
	color: #ff8282;
	&:hover {
		color: hsla(0,100%,55%,1);
	}
	a {
		color: #ff8282;
		&:hover {
			color: hsla(0,100%,55%,1);
		}
	}
}

.no-margin {
	margin: 0;
}

h1.slim,
h2.slim,
h3.slim,
h4.slim,
h5.slim,
p.slim {
	font-weight: 200;
}
